# Problem Statement

Given Subset of Amazon_Transaction data for year 2019.Recommend most commonly purchased products together, if user has given some input product.To limit the scope, you can target only a city say San Francisco and not the whole US.


Learnings:<br>
How to handle huge dataset<br>
How to deal with Textual data<br>
How to build prototype recommender systembr> <br>
How to make recommendations more efficient<br>

In [1]:
import pandas as pd

# Reading Data

In [2]:
from google.colab import files
uploaded = files.upload()

Saving amazon_transaction.csv to amazon_transaction.csv

In [4]:
df = pd.read_csv("amazon_transaction.csv", delimiter=',')
df.dropna(inplace=True)
df.head(10)

   Order ID  ...                        Purchase Address
0    176558  ...            917 1st St, Dallas, TX 75001
2    176559  ...       682 Chestnut St, Boston, MA 02215
3    176560  ...    669 Spruce St, Los Angeles, CA 90001
4    176560  ...    669 Spruce St, Los Angeles, CA 90001
5    176561  ...       333 8th St, Los Angeles, CA 90001
6    176562  ...  381 Wilson St, San Francisco, CA 94016
7    176563  ...        668 Center St, Seattle, WA 98101
8    176564  ...         790 Ridge St, Atlanta, GA 30301
9    176565  ...  915 Willow St, San Francisco, CA 94016
10   176566  ...             83 7th St, Boston, MA 02215

[10 rows x 6 columns]

In [5]:
print(df.shape)

(186305, 6)

In [6]:
# Get only those products whose' address is in San Francisco
def filter_data_based_on_city(address):
  city = "San Francisco"
  if city in address: 
    return address
  else:
    return None

In [7]:
df['Purchase Address'] = df['Purchase Address'].apply(filter_data_based_on_city)
df['Purchase Address'] = df['Purchase Address'].astype(str)

df = df.loc[df['Purchase Address'] != "None"]

In [8]:
print(df.shape)
df.head(10)

(44732, 6)

   Order ID  ...                          Purchase Address
6    176562  ...    381 Wilson St, San Francisco, CA 94016
9    176565  ...    915 Willow St, San Francisco, CA 94016
17   176573  ...  214 Chestnut St, San Francisco, CA 94016
29   176584  ...    936 Church St, San Francisco, CA 94016
32   176586  ...    365 Center St, San Francisco, CA 94016
33   176586  ...    365 Center St, San Francisco, CA 94016
41   176594  ...      63 Maple St, San Francisco, CA 94016
44   176597  ...      681 11th St, San Francisco, CA 94016
45   176598  ...      294 Park St, San Francisco, CA 94016
50   176603  ...       858 6th St, San Francisco, CA 94016

[10 rows x 6 columns]

In [9]:
df.describe()
#There are 19 unique products.

       Order ID  ...                        Purchase Address
count     44732  ...                                   44732
unique    42898  ...                                   28324
top      160873  ...  193 Forest St, San Francisco, CA 94016
freq          5  ...                                       9

[4 rows x 6 columns]

In [10]:
print(df['Product'].unique())

['USB-C Charging Cable' 'Macbook Pro Laptop' 'Flatscreen TV'
 'AAA Batteries (4-pack)' 'Google Phone' 'Wired Headphones' 'LG Dryer'
 'iPhone' 'Bose SoundSport Headphones' 'AA Batteries (4-pack)'
 'Lightning Charging Cable' 'Vareebadd Phone' 'Apple Airpods Headphones'
 '20in Monitor' '34in Ultrawide Monitor' 'LG Washing Machine'
 '27in 4K Gaming Monitor' 'ThinkPad Laptop' '27in FHD Monitor']

In [11]:
print(df.columns)

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [12]:
df = df[['Order ID', 'Product']]
df.head(10)

   Order ID                 Product
6    176562    USB-C Charging Cable
9    176565      Macbook Pro Laptop
17   176573    USB-C Charging Cable
29   176584           Flatscreen TV
32   176586  AAA Batteries (4-pack)
33   176586            Google Phone
41   176594        Wired Headphones
44   176597    USB-C Charging Cable
45   176598  AAA Batteries (4-pack)
50   176603    USB-C Charging Cable

In [201]:
def merge_products_with_same_order_id():
      # Creating a deep copy of the original data.
  df1 = df.copy()
      # Group by order ID and use an aggregate function to join two products into a single string.
  # print(df1.head(4))
  df1 = df1.groupby('Order ID').agg(lambda x: ', '.join(x)).reset_index()
      # Remove individual values. i.e. without any pairs. We need only pairs right now and store it in a different dataframe.
  df_final = df1[df1['Product'].str.contains(",")]
      # Group by products now, There are 268 unique combinations. The count will be stored in Order ID column.
  df_final = df_final.groupby('Product')['Order ID'].nunique().reset_index()
  return df_final         # This returns the grouped dataframe.

In [202]:
def make_recommendation(product):
  df_final = merge_products_with_same_order_id()   # returns merged and cleaned dataframe.
  res = df_final[df_final['Product'].str.contains(str(product), case=False)].sort_values(by=['Order ID'],ascending = [False]).head(1)
  res = res['Product'].iloc[0]
  #Write code for recommendation
  to_remove = [str(product), ', ']
  for r in to_remove: 
    res = res.replace(r, '')
  return res


product = 'Google Phone'
print(make_recommendation(product))

USB-C Charging Cable

In [177]:
from tabulate import tabulate

In [205]:
df_products = pd.DataFrame(df['Product'].unique(), columns=['Product Name'])
print(tabulate(df_products, headers = 'keys', tablefmt = 'psql'))
val = input("Enter the name of a product to get recommendation")
print("People buy: ",make_recommendation(val.strip()), "most with: ", val)

+----+----------------------------+
|    | Product Name               |
|----+----------------------------|
|  0 | USB-C Charging Cable       |
|  1 | Macbook Pro Laptop         |
|  2 | Flatscreen TV              |
|  3 | AAA Batteries (4-pack)     |
|  4 | Google Phone               |
|  5 | Wired Headphones           |
|  6 | LG Dryer                   |
|  7 | iPhone                     |
|  8 | Bose SoundSport Headphones |
|  9 | AA Batteries (4-pack)      |
| 10 | Lightning Charging Cable   |
| 11 | Vareebadd Phone            |
| 12 | Apple Airpods Headphones   |
| 13 | 20in Monitor               |
| 14 | 34in Ultrawide Monitor     |
| 15 | LG Washing Machine         |
| 16 | 27in 4K Gaming Monitor     |
| 17 | ThinkPad Laptop            |
| 18 | 27in FHD Monitor           |
+----+----------------------------+
Enter the name of a product to get recommendationApple Airpods Headphones
People buy:  iPhone most with:  Apple Airpods Headphones